body {
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    max-width: 1500px;
    margin: auto;
    
    padding: 30px 15px;
    position: relative;

}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}
    


header div ul li {
    display: inline-block;
    list-style-type: none;
}

header div ul {
    text-align: center;
}

li a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.6;
    padding-inline: 20px;
    font-weight: 500;
    line-height: 20px;
}

li a:hover {
    opacity: 100%;
    font-weight: bold;
}

.menu-icons{
    display: none;
}

#start {
    padding: 0;
    text-decoration: none;
    font-style: italic;
    color: white;
    background-color: black;
    font-weight: bold;
    opacity: 100%;
    padding: 10px 30px;
    border-radius: 20px;
}

#fitnesso {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    opacity: 100%;
    text-decoration: underline;
    color: black;
    font-size: 25px;

}

#img1 {
    position: relative;
    display: inline-block;
    width: 91%;
    height: 80vh;
    margin-left: 60px;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overlay {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 300px 0;
    color: white; /* Ensure text is readable over video */
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Ensure the video covers the whole area */
    filter: grayscale(100%);
}

@media (max-width:1000px){
    .container{
        height: 60%;
    }
}

.overlay a{
    width: fit-content;
    align-self: center;
    text-wrap: nowrap;
}

.overlay h1 {
    margin: 0;
    font-style: italic;
    font-size: 70px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow:
        2px 2px 4px rgba(255, 255, 255, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px -2px 4px rgba(255, 255, 255, 0.5),
        -2px 2px 4px rgba(255, 255, 255, 0.5);
}

.overlay h4 {
    color: black;
    font-style: italic;
    font-size: 30px;
    text-shadow:
        2px 2px 4px rgba(255, 255, 255, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px -2px 4px rgba(253, 250, 250, 0.5),
        -2px 2px 4px rgba(255, 255, 255, 0.5);
}

.overlay a {
    display: inline-block;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 19px;
    background-color: black;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.overlay a:hover {
    background-color: white;
    color: black;
}


#goals {
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

#goals h6 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.6;
    font-weight: 500;
    font-size: 15px;
}

#goals h1 {
    margin-top: -20px;
    font-style: italic;
    font-size: 60px;
    padding: 0 15px;
}

.container2 {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: auto;

    padding: 70px 15px;
    gap: 100px;
}

.container2.reverse{
    padding-top: 0;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 50%;
}

.img2 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.img3 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img2, .img3{
    width: 50%;
}


.container2 h5,
p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.6;
    font-weight: 500;
}

.container2 a {
    display: inline-block;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 19px;
    background-color: black;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}


.container2 a:hover {
    background-color: rgb(117, 117, 117);
    color: white;
}


.container3 {
    background-color: #fff;
    padding: 20px 15px;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}

.container3-blocks{
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}


.container3 h1 {
    margin-bottom: 20px;
    text-align: start;
    width: 20%;
}

.container3 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #e0e0e0;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    max-width: 300px;
    width: 100%;
    gap: 5px;
}

.container3 .content h3 {
    margin-bottom: 10px;
}

.container3 .content p {
    margin-bottom: 10px;
}

.container3 .content a#pro {
    color: #007bff;
    text-decoration: none;
}

.phone-menu-register{
    display: none;
}




@media (max-width: 1000px) {
    h1, h2{
        font-size: 30px !important;
    }
    h4, h5, h6, p{
        font-size: 16px;
    }
    .phone-menu-register{
        display: block;
    }
    #menu{
        background-color: white;
        position: absolute;
        top: 89px;
        right: 50%;
        z-index: 999;
        width: 100%;
        display: flex;
        justify-content: center;
        
        height: 0;
        overflow: hidden;
        transform: translateX(50%);
        transition: height 0.3s ease;
    }


    header ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        font-size: 20px;
        width: 100%;
        height: 75vh;
    }
    
    header ul.open {
        height: 75vh; 
    }

    #start{
        display: none;
    }
    
    .menu-icons{
        display: block;
        width: 25px;
        cursor: pointer;
    }
    
    #menu-icon-close{
        display: none;
    }

    


    .overlay{
        padding: 100px 0;
    }
    
    .container2{
        flex-direction: column;
        gap: 20px;
        padding: 20px 15px;
    }
    
    .container2.reverse{
        flex-direction: column-reverse;
    }
    
    .text{
        width: 100%;
    }
    
    .img2, .img3{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container3-blocks {
        flex-direction: column;
        justify-content: center;
    }
    .container3 h1 {
        width: 100%;
        text-align: center;
    }

    .container3 .content {
        text-align: center;

    
    }

    
}

.footer {
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    padding: 100px 20px;
    margin-top: 100px;
    border-top: 1px solid #e6dcdc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.footer h1 {
    font-style: italic;
    font-size: 36px;
}

.footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.6;
    font-weight: 500;
}

.footer a#start-link {
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
    margin: auto;
}

.footer a#start-link:hover {
    background-color: rgb(117, 117, 117);
    color: white;
}

#contactus {
    color: black;
}